* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #0b0b0b;
    color: white;
}

header {
    padding: 30px;
    background: linear-gradient(
        135deg,
        #ff006e,
        #8338ec,
        #a336ff
    );
    text-align: center;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.logo {
    width: 120px;
    height: 120px;
    object-fit: contain;
}

header h1 {
    font-size: 3rem;
    text-shadow:
        0 0 10px #ff00ff,
        0 0 20px #00ffff,
        0 0 40px #00ffff;
}

.historia {
    padding: 30px;
    text-align: center;
}

.historia p {
    max-width: 900px;
    margin: auto;
}

.controles {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
}

.controles input,
.controles select,
.controles button {
    padding: 12px;
    border: none;
    border-radius: 10px;
}

.controles button {
    cursor: pointer;
    background: #00ffff;
    font-weight: bold;
}

.titulo-seccion {
    text-align: center;
    margin: 20px;
}

.catalogo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    padding: 20px;
}

.producto {
    background: #171717;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #444;
    transition: .3s;
}

.producto:hover {
    transform: translateY(-8px);
    box-shadow: 0 0 20px #00ffff;
}

.icono {
    font-size: 45px;
    text-align: center;
}

.estado {
    display: inline-block;
    padding: 5px 12px;
    border-radius: 20px;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: bold;
}

.nuevo {
    background: #00c853;
}

.seminuevo {
    background: #ff6d00;
}

.precio {
    display: block;
    margin: 10px 0;
    color: #00ffff;
    font-weight: bold;
    font-size: 1.3rem;
}

.producto button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: #ff006e;
    color: white;
}

.carrito {
    padding: 30px;
    background: #111;
}

.carrito ul {
    margin-top: 15px;
}

.carrito li {
    margin-bottom: 8px;
}

footer {
    text-align: center;
    padding: 40px;
    background: #050505;
}

.whatsapp {
    display: inline-block;
    margin-top: 15px;
    background: #25D366;
    color: white;
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 30px;
    font-weight: bold;
}

@media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }

    .logo {
        width: 90px;
    }
}